@include font("OpenSans-Bold", "OpenSans-Bold", "400", "normal");
@include font("OpenSans-ExtraBold", "OpenSans-ExtraBold", "400", "normal");
@include font("OpenSans-ExtraBoldItalic", "OpenSans-ExtraBoldItalic", "400", "normal");
@include font("OpenSans-Italic", "OpenSans-Italic", "400", "normal");
@include font("OpenSans-Light", "OpenSans-Light", "400", "normal");
@include font("OpenSans-LightItalic", "OpenSans-LightItalic", "400", "normal");
@include font("OpenSans-BoldItalic", "OpenSans-BoldItalic", "400", "normal");
@include font("OpenSans-Regular", "OpenSans-Regular", "400", "normal");
@include font("OpenSans-SemiBoldItalic", "OpenSans-SemiBoldItalic", "400", "normal");
@include font("OpenSans-SemiBold", "OpenSans-SemiBold", "400", "normal");
