@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{file_name}.woff2") format(woff2);
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

picture {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.button-small {
    width: 220px;
    color: #776c64;
    background-color: #fcfcfc;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 800;
    padding: 10px 13px;
    outline: 0;
    border: 0;
    box-shadow: 3px -5px 10px #d3d2cd;
    cursor: pointer;
    transition: .1s linear;

    &:hover {
        color: #fcfcfc;
        background-color: #deb37e;
    }

    @media (max-width: 740px) {
        width: 200px;
        font-size: 16px;
    }

    @media (max-width: 740px) {
        width: 150px;
        font-size: 14px;
    }
}

.button-big {
    width: 30%;
    min-width: 270px;
    color: #fff;
    background-color: #7f7770;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 700;
    padding: 20px 13px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: .1s linear;
    letter-spacing: 5px;

    &:hover {
        background-color: #66605b;
    }

    .discount__button & {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        width: 45%;
        background-color: #e2a355;

        &:hover {
            background-color: #c38c49;
        }

        @media (max-width: 530px) {
            font-size: 20px;
        }
    }

    @media (max-width: 890px) {
        padding: 15px 13px;
    }

    @media (max-width: 530px) {
        font-size: 20px;
    }

    @media (max-width: 770px) {
        width: 40%;
    }
}

.leaf-bg {
    background-image: url("../img/Shadow_.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    .mountains & {
        background-position: left center;
    }
}

// block header ________________________________________________________________________________________________

.header {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    @media (max-width: 770px) {
        padding: 10px 0;
    }
}

.header.fixed {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        flex: 0 0 75px;

        img {
            max-width: 100%;
        }
    }

    .nav {
        display: flex;
        align-self: center;
        font-size: 16px;
        font-weight: 700;

        a {
            display: inline-block;
            vertical-align: top;
            margin: 0 25px;
            position: relative;
            color: #54524f;
            text-decoration: none;
            transition: color 0.1s linear;

            &:after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #c3bfbc;
                opacity: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1;
                transition: opacity 0.1s linear;
            }

            &:hover {
                color: #c3bfbc;
            }

            &:hover:after,
            &.active:after {
                opacity: 1;
                display: block;
            }

            &:active {
                color: #c3bfbc;
            }

            @media (max-width: 770px) {
                display: block;
                margin: 0;
                padding: 10px 20px;
            }
        }

        @media (max-width: 770px) {
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
        }
    }

    .nav.active {
        display: block;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    }
}

// <Search>
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid #000;
    height: 35px;
    min-height: 30px;
    background-color: #c3bfbc;
    margin: 0 auto;
    border-radius: 50px;
    border: 0;
    outline: none;
    margin-left: 25px;

    input {
        background-color: #c3bfbc;
        border: none;
        outline: none;
        width: 100px;
        vertical-align: middle;
        padding: 5px;
    }

    button {
        background-color: #c3bfbc;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 5px;
        cursor: pointer;
        color: #68635f;
    }

    @media (max-width: 770px) {
        margin: 10px 20px;
    }
}

// </Search>

/* Nav toggle */
.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1000;

    &:focus {
        outline: 0;
    }

    @media (max-width: 770px) {
        display: block;
    }
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68635f;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background 0.2s linear;

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 3px;

        background-color: #68635f;

        position: absolute;
        left: 0;
        z-index: 1;

        transition: transform 0.2s linear;
    }

    &:before {
        top: -8px;
    }

    &:after {
        bottom: -8px;
    }
}

.nav-toggle.active .nav-toggle_item {
    background: none;
}

.nav-toggle.active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


// block intro ________________________________________________________________________________________________________
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    background: url("../img/header-bg.jpg") center / cover no-repeat;
}

.intro__textual {
    width: 100%;
    max-width: 805px;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    z-index: 50;


    .intro__main {
        color: #deb37e;
        font-size: 5.75em;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 3px -5px 10px #d3d2cd;

        @media (max-width: 1135px) {
            font-size: 5em;
        }

        @media (max-width: 990px) {
            font-size: 4.5em;
        }

        @media (max-width: 895px) {
            font-size: 3.7em;
        }

        @media (max-width: 740px) {
            font-size: 2.7em;
        }

        @media (max-width: 550px) {
            font-size: 2em;
        }

        @media (max-width: 340px) {
            font-size: 1.5em;
        }
    }

    .intro__title {
        color: #54524f;
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        margin: 0 0 30px 0;

        @media (max-width: 895px) {
            font-size: 1.1em;
        }

        @media (max-width: 550px) {
            font-size: 0.8em;
        }
    }

    .intro__text {
        color: #54524f;
        font-size: 1.3em;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        margin: 30px 0 0 0;

        @media (max-width: 895px) {
            font-size: 1em;
        }

        @media (max-width: 550px) {
            font-size: 0.8em;
            margin: 20px 0 0 0;
            width: 80%;
        }
    }
}

// block about ____________________________________________________________________________________________

.about {
    position: relative;
    background-color: #fff;
    height: auto;
}

.leaf-bg {
    background-image: url("../img/Shadow_.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.about__text {
    text-align: center;
    position: relative;
    z-index: 5;

    h1 {
        font-size: 62px;
        font-weight: 800;
        color: #e2a355;
        margin: 0 0 20px 0;

        @media (max-width: 700px) {
            font-size: 50px;
        }

        @media (max-width: 490px) {
            font-size: 35px;
            margin: 0 0 15px 0;
        }
    }

    h3 {
        color: #7f7770;
        font-size: 27px;
        font-weight: 500;
        max-width: 60%;
        margin: 0 auto 70px;

        @media (max-width: 1100px) {
            max-width: 80%;
        }

        @media (max-width: 700px) {
            font-size: 21px;
            max-width: 90%;
        }

        @media (max-width: 490px) {
            font-size: 14px;
            margin: 0 auto 40px;
            max-width: 95%;
        }
    }
}

.about__card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    margin: 0 0 40px 0;

    @media (max-width: 770px) {
        justify-content: center;
    }
}

.column__item {
    width: 30%;
    height: auto;
    margin: 20px 0;
    background-color: #7f7770;

    @media (max-width: 770px) {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
}

.column__item .item__icon {
    width: 100%;
    height: auto;
    margin: 0 0 50px 0;

    @media (max-width: 990px) {
        margin: 0 0 30px 0;
    }
}

.block__text {
    width: 100%;
    height: auto;
    padding: 0 15px;
}

.card__name {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 25px 0;

    @media (max-width: 990px) {
        font-size: 27px;
    }
}

.card__text {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 50px 0;

    @media (max-width: 990px) {
        font-size: 19px;
    }
}

.button__show {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    padding: 0 0 150px;

    @media (max-width: 490px) {
        padding: 0 0 75px;
    }
}

// discount ______________________________________________________________________________________________________

.discount__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #7f7770;

    @media (max-width: 770px) {
        flex-direction: column;
    }
}

.part-2 {
    flex-direction: row-reverse;
    background-color: #deb37e;
}

.discount__img {
    width: 50%;

    img {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        object-fit: cover;
    }
}

.discount__textual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 15px 50px;

    .discount__title {
        color: #fff;
        font-size: 59px;
        font-weight: 700;
        margin: 0 0 30px;
        max-width: 650px;

        @media (max-width: 900px) {
            font-size: 49px;
        }

        @media (max-width: 490px) {
            font-size: 30px;
        }
    }

    .discount__text {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        margin: 0 0 30px;
        max-width: 600px;

        @media (max-width: 900px) {
            font-size: 24px;
        }

        @media (max-width: 490px) {
            font-size: 16px;
        }
    }

    @media (max-width: 530px) {
        padding: 15px;
    }
}

@media (max-width: 770px) {

    .discount__img,
    .discount__textual {
        width: 100%;
        text-align: center;
    }
}

// mountains block________________________________________________________________________________________________
.mountains {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #99928d;

}

.frame__fx {
    width: 100%;
    position: relative;
    z-index: 5;
}

.frame__img {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}

.mountains__textual {
    width: 900px;
    text-align: center;
    position: absolute;
    align-items: center;
    z-index: 10;

    .mountains__title {
        color: #fff;
        font-size: 59px;
        font-family: "OpenSans-SemiBold";
    }

    .mountains__text {
        color: #dbdbdb;
        min-width: 600px;
        font-size: 30px;
        font-family: "OpenSans-Regular";
        letter-spacing: 2px;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    background: url("../img/explore.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}