@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{file_name}.woff2") format(woff2);
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro-main {
    position: relative;
}

.frame-bg,
.intro-bg {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;

    @media (min-width: 1000px) {
        object-fit: fill;
    }
}

.intro-bg {
    z-index: 1;
}

.button-small {
    width: 220px;
    color: #776c64;
    background-color: #fcfcfc;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 800;
    padding: 10px 13px;
    outline: 0;
    border: 0;
    box-shadow: 3px -5px 10px #d3d2cd;
    cursor: pointer;
    transition: .1s linear;

    &:hover {
        color: #fcfcfc;
        background-color: #deb37e;
    }

    @media (max-width: 740px) {
        width: 200px;
        font-size: 16px;
    }

    @media (max-width: 740px) {
        width: 150px;
        font-size: 14px;
    }
}

// block header ________________________________________________________________________________________________

.header {
    width: 100%;
    padding-top: 15px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    @media (max-width: 770px) {
        padding: 10px 0;
    }
}

.header.fixed {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        flex: 0 0 75px;

        img {
            max-width: 100%;
        }
    }

    .nav {
        display: flex;
        align-self: center;
        font-size: 16px;
        font-weight: 700;

        a {
            display: inline-block;
            vertical-align: top;
            margin: 0 25px;
            position: relative;
            color: #54524f;
            text-decoration: none;
            transition: color 0.1s linear;

            &:after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #c3bfbc;
                opacity: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1;
                transition: opacity 0.1s linear;
            }

            &:hover {
                color: #c3bfbc;
            }

            &:hover:after,
            &.active:after {
                opacity: 1;
                display: block;
            }

            &:active {
                color: #c3bfbc;
            }

            @media (max-width: 770px) {
                display: block;
                margin: 0;
                padding: 10px 20px;
            }
        }

        @media (max-width: 770px) {
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
        }
    }

    .nav.active {
        display: block;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    }
}

// <Search>
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid #000;
    height: 35px;
    min-height: 30px;
    background-color: #c3bfbc;
    margin: 0 auto;
    border-radius: 50px;
    border: 0;
    outline: none;
    margin-left: 25px;

    input {
        background-color: #c3bfbc;
        border: none;
        outline: none;
        width: 100px;
        vertical-align: middle;
        padding: 5px;
    }

    button {
        background-color: #c3bfbc;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 5px;
        cursor: pointer;
        color: #68635f;
    }

    @media (max-width: 770px) {
        margin: 10px 20px;
    }
}

// </Search>

/* Nav toggle */
.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1000;

    &:focus {
        outline: 0;
    }

    @media (max-width: 770px) {
        display: block;
    }
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68635f;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background 0.2s linear;

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 3px;

        background-color: #68635f;

        position: absolute;
        left: 0;
        z-index: 1;

        transition: transform 0.2s linear;
    }

    &:before {
        top: -8px;
    }

    &:after {
        bottom: -8px;
    }
}

.nav-toggle.active .nav-toggle_item {
    background: none;
}

.nav-toggle.active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


// block intro ________________________________________________________________________________________________________
.intro {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-height: 800px) {
        height: 500px;
    }
}

.intro__textual {
    width: 50%;
    max-width: 805px;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    z-index: 50;

    .intro__main {
        color: #deb37e;
        font-size: 5.75em;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 3px -5px 10px #d3d2cd;

        @media (max-width: 1135px) {
            font-size: 5em;
        }

        @media (max-width: 990px) {
            font-size: 4.5em;
        }

        @media (max-width: 895px) {
            font-size: 3.7em;
        }

        @media (max-width: 740px) {
            font-size: 2.7em;
        }

        @media (max-width: 550px) {
            font-size: 2em;
        }

        @media (max-width: 340px) {
            font-size: 1.5em;
        }
    }

    .intro__title {
        color: #54524f;
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        margin: 0 0 30px 0;

        @media (max-width: 895px) {
            font-size: 1.1em;
        }

        @media (max-width: 550px) {
            font-size: 0.8em;
        }
    }

    .intro__text {
        color: #54524f;
        font-size: 1.3em;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        margin: 30px 0 0 0;

        @media (max-width: 895px) {
            font-size: 1em;
        }

        @media (max-width: 550px) {
            font-size: 0.8em;
            margin: 20px 0 0 0;
            width: 80%;
        }
    }
}

// block about ____________________________________________________________________________________________

.about {
    position: relative;
    background-color: #fff;
    height: 1100px;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 250px;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../img/Shadow_.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
        width: 50%;
    }
}



.about__text {
    h1 {
        font-size: 62px;
        font-weight: 800;
        color: #e2a355;
        margin: 0 0 20px 0;
    }

    h3 {
        color: #54524f;
        font-size: 27px;
        font-weight: 500;
        font-style: italic;
        max-width: 60%;
        margin: 0 auto;
    }
}

.about__card {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.column__item {
    width: 30%;
    height: auto;
    margin: 20px 0;
    background-color: #7f7770;
}

.column__item .item__icon {
    width: 100%;
    height: 400px;
    margin: 0 0 50px 0;
}

.card__name {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.card__text {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 50px 0;
}

.features .column__item .item__icon {
    border: 0;
    margin: 0 0 30px;
}

.column__item .item__textual {
    padding-top: 20px;
}

.column__item .item__name {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 5px 0;
}

.features .column__item .item__name {
    color: #333;
    margin: 0 0 20px 0;
}

.column__item .item__position {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 30px 0;
}

.column__item .item__text {
    color: #b2b2b4;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Exo', sans-serif;
    margin: 0 0 40px 0;
    letter-spacing: 1px;
}

.features .column__item .item__text {
    color: #6e6e6d;
    font-style: normal;
}